@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #2d4454;
    --secondary-color: #ffffff;
}

body {
    background-color: var(--primary-color);
    margin: 4rem 10rem;
    font-family: "Inter", sans-serif;
    color: var(--secondary-color);
}

main {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

h1 {
    border-style: solid;
    border-color: red;
    border-width: 1px;

    margin: auto 0 0.5rem 0;

    font-weight: 800;
    font-size: 2.75rem;
}

h2 {
    border-style: solid;
    border-color: red;
    border-width: 1px;

    margin: auto 0 1rem 0;

    font-weight: 300;
    font-size: 1rem;
}

#city-input {
    box-sizing: border-box;

    border-style: solid;
    border-color: red;
    border-width: 1px;

    outline: none;
    /* border: none; */
    background-color: transparent;
    border-bottom: 0.05rem solid var(--secondary-color);

    width: 100%;

    margin: auto 0 1rem 0;
    padding: 0.25rem 0.5rem;

    font-weight: 500;
    font-size: 1.25rem;
    color:var(--secondary-color);
}

#city-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 1.25rem;
    font-style: italic;
}


.weather-container {
    border-style: solid;
    border-color: red;
    border-width: 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 0 1rem;
}

.weather-output {
    border-radius: 15px;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    padding: 0 1rem;
    margin: 0 1rem;
    
}

