@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #2d4454;
    --secondary-color: #ffffff;
}

body {
    background-color: var(--primary-color);
    margin: 4rem 25rem;
    font-family: "Inter", sans-serif;
    color: var(--secondary-color);
}

/* main, h1, h2, #main-container, #input-container, #weather-container, p, img, h3 {
    border-style: solid;
    border-color: red;
    border-width: 1px;
} */

h1 {
    margin: auto 0 0.5rem 0;

    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
}

h2 {
    margin: auto 0 1rem 0;

    font-weight: 400;
    font-size: 1.25rem;
}

/* #main-container {
    padding: 0 3rem;
} */

#input-container {
    margin: 1rem 0 2rem;
    
    width: 50%;
    display:flex;
    gap: 1rem;
    border-bottom: 0.05rem solid var(--secondary-color);

}

#loc-input {
    box-sizing: border-box;

    outline: none;
    border: none;
    background-color: transparent;
    flex: 1;

    font-weight: 500;
    font-size: 1.25rem;
    color:var(--secondary-color);
}

#loc-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 1.25rem;
    font-style: italic;
}

#fetch-button {
    color: var(--secondary-color);
    outline: none;
    border: none;
    background-color: transparent;
    /* flex: 1; */
}

#fetch-button:hover {
    cursor: pointer;
}

#weather-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 3rem;
}

.weather-output {
    border-radius: 15px;

    background-color: var(--secondary-color);
    color: var(--primary-color);

    padding: 2rem 1.5rem;
    width: 30%;

    text-align: center;

    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.25);

}

.weather-output > * {
    margin: 0;
}   

.hidden {
    display: none !important;
}

.loc {
    font-size: 1.35rem;
    margin-bottom: 0.25rem;
}

.date-text {
    margin-bottom: 1.25rem;

    color: #4c738f;
    font-style: italic;
    font-size: 1rem;
}

.icon {
    margin: 0 auto 0.5rem;

    display: block;
    width: 100px;
    height: 100px;
}


.temp {
    font-size: 2.5rem;
    font-weight: 600;
}

.cond {
    margin-bottom: 1.25rem;

    font-size: 1.25rem;
    font-weight: 600;
}

.wind, .precip {
    margin-bottom: 0.25rem;

    font-size: 1rem;
    font-weight: 400;
}

